/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    font-size: 15px;
    --wf-Base: 'Outfit', sans-serif;
    --ww-Regular: 400;
    --ww-Bold: 700;
}

body{
    height: 100vh;
    font-family: var(--wf-Base);
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 320px;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
}

.container img{
    border-radius: 0.8rem;
}

.text{
    padding: 1.5rem 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.text h1{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: var(--ww-Bold);
}

.text p{
    color: var(--Grayish-blue);
    font-size: 1rem;
    line-height: 1.3rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}